﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<div class="group">
    <h2>個人資料調查表</h2>
    <p>姓名 : @Html.TextBox("Name","Pxcheah") </p>
    <p>帳號 : @Html.TextBox("Account","")  </p>
    <p>密碼 : @Html.TextBox("Password","") </p>
    <p>
        性別 :
        @Html.RadioButton("Radio", "A") 男生
        @Html.RadioButton("Radio", "B") 女生
    </p>
    <p>
        興趣 :
        @Html.CheckBox("Hobby01", "A")游泳
        @Html.CheckBox("Hobby02", "B")閱讀
        @Html.CheckBox("Hobby03", "C")看電影
        @Html.CheckBox("Hobby04", "D")打電動
    </p>
    <p>自我介紹 : @Html.TextArea("Hi") </p>
</div>

