﻿
@{
    ViewBag.Title = "Razor";
}

<h2>Razor</h2>

@{ 
    var Success = true;
}

@if (Success == true)
    {
        <p>成功！</p>
    }
    else
    {
        <p>失敗！</p>
    }

Print 1 to 10 <br/>
@for (int i = 0; i <= 10 ; i++)
{
    <p>i = @i  </p>
}

@{ 
    string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}

<ol>
@foreach (var item in fruits)
{
        <li> @item  </li>
}
</ol>