﻿@model S10829387_0505_Test.ViewModel.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>BMI計算器</h2>

<form action="/BMI/Index" method="post">
    <p>@Html.DisplayNameFor(d => d.Height) @Html.TextBoxFor(d => d.Height) 公分 @Html.ValidationMessageFor(d => d.Height)</p>
    <p>@Html.DisplayNameFor(d => d.Weight) @Html.TextBoxFor(d => d.Weight) 公斤 @Html.ValidationMessageFor(d => d.Weight)</p>
    <p><input type="submit" name="" value="送出" /></p>

    <p>計算結果 =@Model.Result </p>
    <p>等級=@Model.Level</p>
</form>

